body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #003F87;
  overflow: hidden;
}

/* Barre du haut */
#topbar {
  background: rgba(0,0,0,0.4);
  color: white;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

#topbar h1 {
  margin: 0;
  font-size: 20px;
}

#new-point-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background: orange;
  font-weight: bold;
  cursor: pointer;
}

#new-point-btn:hover {
  background: #ffb347;
}

/* Carte */
#map-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 52px);
  overflow: hidden;
  cursor: grab;
}

#map-inner {
  position: absolute;
  top: 0;
  left: 0;
}

#map {
  display: block;
  max-width: none; /* important */
  user-select: none;
  pointer-events: none;
}

/* Marqueurs */
#marker-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.marker {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}




