body {
    margin: 0;
    overflow: hidden;
    background-color: #003F87;
}

#topbar {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#map-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#map-inner {
    position: absolute;
    transform-origin: 0 0;
}

#map {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

#marker-layer {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
}

.marker {
    width: 40px;
    height: 40px;
    position: absolute;
    pointer-events: auto;
    cursor: pointer;
}






