body {
    margin: 0;
    background: #003F87;
    overflow: hidden;
    font-family: Arial;
}

/* BARRE DU HAUT */
#topbar {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    background: rgba(0,0,0,0.6);
    color: white;
    border-radius: 12px;
    z-index: 2000;
}

#new-point-btn {
    padding: 8px 15px;
    background: orange;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* MESSAGE ÉTAPE 1 */
#step1 {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.85);
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 3000;
}

.hidden {
    display: none;
}

/* CARTE */
#map-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

#map-inner {
    position: absolute;
    transform-origin: 0 0;
}

#map {
    pointer-events: none;
    user-select: none;
}

/* MARQUEURS */
.marker {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    z-index: 4000;
}

/* MENU CONFIGURATION POINT (ÉTAPE 2) */
#point-menu {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.9);
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 5000;
}

.point-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preview {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}




