body {
    margin: 0;
    background: #003F87;
    overflow: hidden;
    font-family: Arial;
}

/* BARRE DU HAUT */
#topbar {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 15px;
    padding: 10px 15px;
    background: rgba(0,0,0,0.6);
    color: white;
    border-radius: 10px;
    z-index: 2000;
}

#new-point-btn {
    padding: 5px 10px;
    background: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* CARTE */
#map-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

#map-inner {
    position: absolute;
    transform-origin: 0 0;
}

#map {
    user-select: none;
    pointer-events: none;
}

/* MARQUEURS */
.marker {
    position: absolute;
    transform: translate(-50%, -100%);
    width: 40px;
    height: 40px;
    pointer-events: auto;
    z-index: 3000;
}

/* MENU POINT */
#point-menu {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.85);
    padding: 15px;
    border-radius: 10px;
    color: white;
    z-index: 5000;
}

.hidden {
    display: none;
}

.point-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.preview {
    width: 40px;
    height: 40px;
}





